

body {
  font-family: Arial, sans-serif;
  color: #333;
 align-items: center;
  padding: 20px;
}

.keyboard {
  display: flex;
  flex-direction: column;
  gap: 5px;
  max-width: 1000px;
  margin: 20px auto;
}

.conatiner-keyboard{
  position: absolute;
  top: 50%;
  left: 20%;
}

.row {
  display: flex;
  gap: 5px;
}

.key {
  padding: 15px;
  border: 1px solid #999;
  border-radius: 4px;
  width: px;
  text-align: center;
  font-family: monospace;
  transition: background-color 0.2s;
  background-color: #f4f4f4;
}

.key.wide {
  width: 80px;
}

.key.space {
  width: 300px;
}

.key.active {
  background-color: #000000;
  color: white;
  border-color: #388e3c;
}


.container{
    display: flex;
    justify-content: center;

}   

.gif{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#searchbar{
  width: 500px;
  padding-left: 30px;
  height: 50px;
  border: 1px solid #9b9898;
  border-radius: 25px;
}


@media (max-width: 450px) {
  
  .keyboard{
    display: none;
  }

}

@media (max-width: 480px) {
  
  .keyboard{
    display: none;
  }

}



@media (max-width: 640px) {
  
  .keyboard{
    width: 100%;
  }

  .gif{
    margin-top: 40px;
    margin-left: 60%;
  }

 #searchbar{
    margin-left: 100%;
    width: 500px ; 
    
  }

}


@media (max-width: 720px) {
  
  .keyboard{
    width: 100%;
  }

  .gif{
    margin-top: 40px;
    margin-left: 100%;
  }

 #searchbar{
    margin-left: 100%;
    width: 500px ; 
    
  }

}

@media (max-width: 800px) {
  
  .keyboard{
    width: 100%;
  }

  .gif{
    margin-top: 40px;
    margin-left: 50%;
  }

 #searchbar{
    margin-left: 70%;
    width: 500px ; 
    
  }

}

@media (max-width: 920px) {
  
  .keyboard{
    width: 100%;
  }

  .gif{
    margin-top: 40px;
    margin-left: 30%;
  }

 #searchbar{
    margin-left: 50%;
    width: 500px ; 
    
  }

}